.wrapper{
    height: 100vh;
    display: flex;
    background-color: #1B193E;
    .Second-col{
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: scroll;
    }
}
